:root {
    --default-ff: "League Spartan", sans-serif;

    --fs-keypad-2: clamp(1.25rem, 0.78rem + 1.566vw, 1.75rem);
    --fs-keypad: clamp(2rem, 1.53rem + 1.566vw, 2.5rem);
    --fs-screen: clamp(2.5rem, 1.561rem + 3.131vw, 3.5rem);
    --fs-sm: clamp(0.75rem, 0.633rem + 0.391vw, 0.875rem);
    --fs-logo: 2rem;

    --color-blue-100: #637097;
    --color-blue-200: #404e72;
    --color-blue-300: #3a4764;
    --color-blue-400: #444b5a;
    --color-blue-500: #232c43;
    --color-blue-600: #182034;
    --color-purple-100: #ad15f4;
    --color-purple-200: #871c9c;
    --color-purple-300: #58077d;
    --color-purple-400: #341c4f;
    --color-purple-500: #1d0934;
    --color-purple-600: #160628;
    --color-cyan-100: #6cf9f2;
    --color-cyan-200: #00e0d1;
    --color-cyan-300: #377f86;
    --color-cyan-400: #1b5f65;
    --color-cyan-500: #1b2428;
    --color-orange-100: #ffe53d;
    --color-orange-200: #ca5502;
    --color-orange-300: #893901;
    --color-orange-400: #d03f2f;
    --color-orange-500: #681b12;
    --color-neutral-100: #ffffff;
    --color-neutral-200: #ededed;
    --color-neutral-300: #e6e6e6;
    --color-neutral-400: #e5e4e1;
    --color-neutral-500: #d1cccc;
    --color-neutral-600: #eae3dc;
    --color-neutral-700: #b4a597;
    --color-neutral-800: #a69d91;
    --color-neutral-900: #35352c;

    --round-pill: 999rem;
    --round-md: clamp(0.25rem, -0.102rem + 1.174vw, 0.625rem);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body,
h1,
p {
    margin-block-end: 0;
    margin: 0;
}

h1,
button,
input,
label {
    line-height: 1.1;
}

input,
button {
    font: inherit;
}

:target {
    scroll-margin-block: 5ex;
}

#theme-1 {
    --primary-bg: var(--color-blue-300);
    --secondary-bg: var(--color-blue-500);
    --screen-bg: var(--color-blue-600);
    --key-bg: var(--color-neutral-600);
    --key-shadow: var(--color-neutral-700);
    --accent-01-bg: var(--color-orange-400);
    --accent-01-shadow: var(--color-orange-500);
    --accent-02-bg: var(--color-blue-100);
    --accent-02-shadow: var(--color-blue-200);
    --primary-text-color: var(--color-blue-400);
    --secondary-text-color: var(--color-neutral-100);
    --accent-01-text-color: var(--color-neutral-100);
    --accent-02-text-color: var(--color-neutral-100);
}

#theme-2 {
    --primary-bg: var(--color-neutral-300);
    --secondary-bg: var(--color-neutral-500);
    --screen-bg: var(--color-neutral-200);
    --key-bg: var(--color-neutral-400);
    --key-shadow: var(--color-neutral-800);
    --accent-01-bg: var(--color-orange-200);
    --accent-01-shadow: var(--color-orange-300);
    --accent-02-bg: var(--color-cyan-300);
    --accent-02-shadow: var(--color-blue-400);
    --primary-text-color: var(--color-neutral-900);
    --secondray-text-color: var(--primary-text-color);
    --accent-01-text-color: var(--color-neutral-100);
    --accent-02-text-color: var(--color-neutral-100);
}

#theme-3 {
    --primary-bg: var(--color-purple-600);
    --secondary-bg: var(--color-purple-500);
    --screen-bg: var(--color-purple-500);
    --key-bg: var(--color-purple-400);
    --key-shadow: var(--color-purple-200);
    --accent-01-bg: var(--color-cyan-200);
    --accent-01-shadow: var(--color-cyan-100);
    --accent-02-bg: var(--color-purple-300);
    --accent-02-shadow: var(--color-purple-100);
    --primary-text-color: var(--color-orange-100);
    --secondray-text-color: var(--primary-text-color);
    --accent-01-text-color: var(--color-neutral-100);
    --accent-02-text-color: var(--color-cyan-500);
}

body {
    padding-inline: 1.5rem;
    font-family: var(--default-ff);
    font-weight: 700;
    color: var(--primary-text-color);
    background-color: var(--primary-bg);
}

input,
button {
    border: none;
}

.main {
    margin-inline: auto;
    max-width: 33.75rem;
}

@media only screen and (min-width: 992px) {
    .main {
        margin-top: 4.125rem;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.875rem;
    color: var(--secondary-text-color);
}

.theme-switcher {
    display: flex;
    font-size: var(--fs-sm);
}

.theme-switcher p {
    margin-right: 28px;
    padding-bottom: 5px;
    align-self: end;
    letter-spacing: 0.08em;
}

.theme-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 3.25rem;
    margin-inline: auto;
}

.theme-toggle {
    padding: 5px;
    width: 4.5rem;
    background-color: var(--secondary-bg);
    border-radius: var(--round-pill);
    cursor: pointer;
}

.theme-toggle .circle {
    --dim: 1rem;
    position: relative;
    left: 0;
    transform: translateX(0);
    display: block;
    width: var(--dim);
    height: var(--dim);
    background-color: var(--accent-01-bg);
    border-radius: 50%;
    transition: left 300ms ease, transform 300ms ease;
}

.screen {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-block: 0.125rem 1.5rem;
    padding-inline: clamp(1.375rem, 0.788rem + 1.957vw, 2rem);
    width: 100%;
    height: clamp(5.5rem, 3.152rem + 7.828vw, 8rem);
    background-color: var(--screen-bg);
    border-radius: var(--round-md);
}

.screen .placeholder {
    font-size: var(--fs-screen);
    text-align: right;
    letter-spacing: -0.01em;
    color: var(--secondary-text-color);
    overflow-x: scroll;
}

/* Safari and Chrome */
.screen .placeholder::-webkit-scrollbar {
    display: none;
}

/* Firefox */
.screen .placeholder {
    scrollbar-width: none;
}

.keypad {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    gap: clamp(0.813rem, 0.167rem + 2.153vw, 1.5rem);
    padding: clamp(1.5rem, 1.03rem + 1.566vw, 2rem);
    background-color: var(--secondary-bg);
    border-radius: var(--round-md);
}

.keypad > * {
    margin-bottom: 4px;
    height: 3.75rem;
    border-radius: var(--round-md);
    cursor: pointer;
    transition: transform 200ms ease, box-shadow 200ms ease;
}

.keypad > *:active {
    box-shadow: 0 0 0 !important;
    transform: translateY(4px);
}

.keypad input {
    font-size: var(--fs-keypad);
    color: var(--primary-text-color);
    background-color: var(--key-bg);
    box-shadow: 0 4px 0 var(--key-shadow);
}

.keypad button {
    font-size: var(--fs-keypad-2);
    letter-spacing: -0.02em;
}

.keypad #reset,
.keypad #delete {
    color: var(--accent-01-text-color);
    background-color: var(--accent-02-bg);
    box-shadow: 0 4px 0 var(--accent-02-shadow);
}

.keypad #reset {
    grid-column: 1/3;
}

.keypad #result {
    grid-column: 3/5;
    color: var(--accent-02-text-color);
    background-color: var(--accent-01-bg);
    box-shadow: 0 4px 0 var(--accent-01-shadow);
}

.footer {
    padding-block: 1.75rem;
    color: var(--secondary-text-color);
}

.footer a {
    color: var(--secondary-text-color);
}
